<div class="container">
  <app-navbar title="Dashboard"></app-navbar>
  <div class="row" style="margin-top: 30px">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard title="184" headerIcon="event" category="Received Bookings" footContent="Check bookings..."
        footerIcon="booking" linearColor="linear-gradient(60deg, #ffa726, #fb8c00)"
        boxShadow="0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard title="687" headerIcon="assignment_turned_in" category="Confirmed orders" footContent="Check orders..."
        footerIcon="payment" linearColor="linear-gradient(60deg, #ef5350, #e53935)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard title="$3,245" headerIcon="trending_up" category="Total Revenue" footContent="Last Month"
        footerIcon="date_range" linearColor="linear-gradient(60deg, #66bb6a, #43a047)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard title="+245" headerIcon="flash_on" category="Active Rentals" footContent="Just Updated"
        footerIcon="check" linearColor="linear-gradient(60deg, #26c6da, #00acc1)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4)">
      </app-figurecard>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-md-2 col-sm-12 col-xs-12">
      <app-imagecard image="../../../assets/img/card-1.jpeg" 
        title="Appartement Anlage mit Pool"
        desc="Situation: rural,  trees, with plants, with garden, meadow..." 
        footerTitle="7 Bookings"
        position="Beynat, France">
      </app-imagecard>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
      <app-imagecard image="../../../assets/img/card-2.jpeg" 
      title="House Lingås"
        desc="The place is close to Metro Station and bus stop just 2 min by walk and near..."
        footerTitle="5 Bookings"
        position="Villdal, Norway">
      </app-imagecard>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
      <app-imagecard image="../../../assets/img/card-3.jpeg" 
        title="House Par4 Villa 5"
        desc="Situation: rural,  trees, with plants, with garden, meadow..." 
        footerTitle="7 Bookings"
        position="Maspalomas, Canary Islands, Spain">
      </app-imagecard>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <app-imagecard image="../../../assets/img/card-4.jpeg" 
        title="Appartement Les Coteaux de Jonzac"
        desc="Situation: rural,  trees, with plants, with garden, meadow..." 
        footerTitle="0 Bookings" 
        position="Jonzac, France">
      </app-imagecard>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <app-imagecard image="../../../assets/img/card-5.jpeg" 
        title="Appartement Le Soleil Camarguais 2"
        desc="Situation: rural,  trees, with plants, with garden, meadow..." 
        footerTitle="3 Bookings" 
        position="Saintes Maries de la Mer, France">
      </app-imagecard>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <app-imagecard image="../../../assets/img/card-6.jpeg" 
        title="Appartement Achlada Studio"
        desc="Situation: rural,  trees, with plants, with garden, meadow..." 
        footerTitle="0 Bookings"
        position="Achlada, Crete, Greece">
      </app-imagecard>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Products</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th></th>
                  <th>Product Name</th>
                  <th>Type</th>
                  <th>Quantity</th>
                  <th class="text-right">Price</th>
                  <th class="text-right">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <mat-checkbox></mat-checkbox>
                  </td>
                  <td>Appartement Anlage mit Pool</td>
                  <td>Appartment</td>
                  <td>3</td>
                  <td class="text-right">€ 355.00</td>
                  <td class="text-right">€ 1,165.00</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                    <mat-checkbox></mat-checkbox>
                  </td>
                  <td>House Lingås</td>
                  <td>House</td>
                  <td>5</td>
                  <td class="text-right">€ 150.00</td>
                  <td class="text-right">€ 650.00</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <mat-checkbox></mat-checkbox>
                  </td>
                  <td>House Par4 Villa 5</td>
                  <td>House</td>
                  <td>8</td>
                  <td class="text-right">€ 299.00</td>
                  <td class="text-right">€ 2,392.00</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <mat-checkbox></mat-checkbox>
                  </td>
                  <td>Appartement Les Coteaux de Jonzac</td>
                  <td>Appartment</td>
                  <td>10</td>
                  <td class="text-right">€ 200.00</td>
                  <td class="text-right">€ 2,000.00</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>
                    <mat-checkbox></mat-checkbox>
                  </td>
                  <td>Appartement Achlada Studio</td>
                  <td>Studio</td>
                  <td>5</td>
                  <td class="text-right">€ 350.00</td>
                  <td class="text-right">€ 1,750.00</td>
                </tr>
                <tr>
                  <td colspan="5"></td>
                  <td style="font-weight: 500; font-size: 1.25em;" class="text-right">Total</td>
                  <td style="font-size: 26px" class="text-right">€7,957</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>